/* MAIN */
/* * {cursor: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-user-drag:none;} */
body{background-size: cover; background-repeat: no-repeat; overflow:hidden; font-family:'Rubik-Light', Arial, Sans-serif, Helvetica; font-weight:300; background-color:#f1f1ec; cursor: none; }
p{margin:0; color:#26313d; font-size:30px; font-family:'Rubik-Light', Arial, Sans-serif, Helvetica;}
h2{font-size:70px; color:#cc0066; font-weight:300; line-height:100%; margin:100px 0 35px 0;}
h5{color:#26313d; }
.st2{fill:#000;}
button{font-size:30px; min-width:210px; border:none; color:#f1f1ec; font-weight:300; font-family:'Rubik-Light', Arial, Sans-serif, Helvetica;  padding:15px 20px 14px 20px; border-radius:45px; margin-top:57px;}
button[data-button="pink"]{background:#cc0066;}
button[data-button="transparent"]{margin: 0; left: 50%; position: relative; transform: translate(-50%, -50%); background: transparent; color: #26313d; border: 1px solid #26313d; opacity: 1; pointer-events: none; transition: ease .3s all; float: left;}
button[data-button="transparent"].visible{background:#cc0066; pointer-events:auto; border:1px solid transparent; color:#f1f1ec;}
:focus {outline:0;}
.hidden{opacity:0; pointer-events:none;}

/* FONTS */
@font-face {
	font-family: 'Rubik-Light';
	src: url('../fonts/Rubik-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Rubik-Light.woff') format('woff'), url('../fonts/Rubik-Light.ttf')  format('truetype'), url('../fonts/Rubik-Light.svg#Rubik-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}

.languages{position:absolute; top:50%; transform:translate(0%, -50%); left:100px; display:flex; flex-direction:column;}
	.languages div{position:relative; transition:ease .3s all; margin:11px 0; font-size:18px; border:1px solid #26313d; border-radius:50%; width:60px; height:60px;}
		.languages div.active{border:1px solid #cc0066;}
			.languages div span{top: 50%; position: relative; transition:ease .3s all; transform: translate(0, -50%); float: left; width: 100%;}
				.languages div.active span{color:#cc0066;}
.home_btn{position: absolute; top: 120px; left: 100px; width: 60px; height: 60px; border: 1px solid #26313d; border-radius: 50%;}
	.home_btn img{top:50%; position:relative; transform: translate(0, -50%);}

.info_btn{position: absolute; top: 120px; left: 1520px; width: 60px; height: 60px; border: 1px solid #e8e9e4; border-radius: 50%;}
	.info_btn img{top:50%; position:relative; transform: translate(0, -50%);}

.close_btn{position: absolute; top: 120px; left: 1520px; width: 60px; height: 60px; border: 1px solid #e8e9e4; border-radius: 50%;}
	.close_btn img{top:50%; position:relative; transform: translate(0, -50%);}

.choose_gender_images{width: 776px; height: 549px; position: relative; margin-left: 48%; transform:translate(-50%, 0); margin-top: 5%;}
	.choose_gender_images img{position:absolute; top:0; transition:ease .3s all;}
		.choose_gender_images img.g1{bottom:0; left:0;}
		.choose_gender_images img.g2{right:0;}
			.choose_gender_images img.not_active{opacity:.4;}

.selected_appearance p{color:#f1f1f1;}
	.partners_count h2{font-size:300px;}

/* TULBAD */
.row{width:330px; height:485px; display: inline-table; margin-left: 100px; margin-top:30px;}


/* TULBA NUPUD*/
.row_nupud{position:relative;border:1px solid #f0f1eb; width: 330px; height: 60px; margin-bottom: 26px; border-radius: 30px; overflow: hidden; display: flex; align-items: center; justify-content: space-between; transition: ease .3s all;}
.row p {font-size: 18px;}
.row_nupud p {position: relative;color: #f0f1eb; margin-left: 30px;}
.row_nupud img{margin-right: 10px;}
.row #tulba_pealkiri{margin-bottom: 30px;}
.dna_focus{background-color: #cc0066; border: 1px solid #cc0066;}
.row > div:nth-child(6){margin-bottom: 0px;}

.left_container{height:706px; display: flex; flex-direction: column; align-self: flex-end; margin-bottom: 260px;}
.small_dna_pic{margin-top: 100px; height: 221px; width:330px; object-fit: contain; margin-left: 100px;}

.dna_text_container {text-align: left; margin-top: 200px; margin-left: 200px;}
.dna_text_container p{color: #f0f1eb; width:815px;}
.dna_text_container h2{ margin-bottom: 85px;}

/* DNA pildid */
.dna_image{height: 869px; margin-top: 170px; margin-left: 120px;}

/* ANIMATSIOON */

/* .row_nupud:before {
	content: "";
	position :absolute;
	height:100%;
	width: 0px;
	background-color: #4d004d;
	transition: width .6s ;
	left: 0;
	top: 0;
}

.row_nupud.selected_appearance:before {
	width:250px;
	transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66);
} */

/* VIEW 1 */
.view[data-view="1"] img{margin-top:200px;}
.view[data-view="1"] h2{margin-top: 75px;}
